body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1,
h2 {
    margin: 0;
}

nav {
    background-color: #f0f0f0;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
}

nav a:hover {
    color: #666;
}

main {
    padding: 20px;
}

#content {
    padding: 20px;
    border: 1px solid #ddd;
    margin-top: 20px;
}