/* body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
} */

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px; /* Limit container width for better readability */
    margin: auto;
}

.read-only-container,
.editable-container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-right: 20px;
    width: 300px;
}

.editable-container {
    display: none; /* Hide editable container initially */
}

h2 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
    font-weight: bold;
}

li > span {
    margin-left: 10px;
    font-weight: normal;
}

.edit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px; /* Add some spacing between button and user info */
    width: 100%;
    text-align: center;
}

.edit-button:hover {
    background-color: #0056b3;
}

.profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="file"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.file-input-container {
    position: relative;
    margin-bottom: 10px;
}

.file-input-label {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.file-input-label:hover {
    background-color: #0056b3;
}

#profilePhoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-name {
    margin-left: 10px;
    font-style: italic;
    color: #666;
}
.image-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}