
{% extends 'nav.html' %}

{%load static %}
{% block design %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

{%endblock%}
{% block content %}

<div class="slideshow-container">
    <div class="background-image"
        style="background-image: url('https://static.vecteezy.com/system/resources/previews/022/906/697/non_2x/high-speed-train-at-station-and-blurred-cityscape-at-night-on-background-postproducted-generative-ai-digital-illustration-of-non-existing-train-model-free-photo.jpg');">
    </div>
    <div class="background-image2"
        style="background-image: url('https://t3.ftcdn.net/jpg/05/52/10/90/360_F_552109006_LQkF4KK0EIrnUT6CUXdkz8ToEhW0hkMH.jpg');">
    </div>
    <div class="background-image3"
        style="background-image: url('https://static.vecteezy.com/system/resources/previews/022/906/697/non_2x/high-speed-train-at-station-and-blurred-cityscape-at-night-on-background-postproducted-generative-ai-digital-illustration-of-non-existing-train-model-free-photo.jpg');">
    </div>
    <!-- Add more background images as needed -->
    <div class="overlay"></div>
    <div class="welcome-text">
        <h2>Welcome to Railway Reservation System</h2>
        <p>Welcome to our state-of-the-art Railway Reservation System, where convenience meets efficiency in the realm of travel planning. Our system seamlessly integrates advanced technologies to provide passengers with a hassle-free experience from booking to boarding.Embark on your journey with confidence as our intuitive interface guides you through the reservation process, offering a range of personalized options tailored to your preferences. Whether you're a seasoned traveler or embarking on your maiden voyage, our system ensures every step is smooth sailing.</p>
    </div>
</div>

{% endblock %}