{% extends 'nav.html' %}
{% load static %}

{%block design%}
<link rel="stylesheet" href="{% static 'css/login-register.css' %}">
{%endblock%}
{% block content %}

{% if flag %}

<script>

    alert("registred succesfully...")

</script>

{%endif%}

{% if passanger %}
<script>
    alert("login succesfully...");
    window.location = "{% url 'user_home' %}";
</script>
{% endif %}

{% if invalid_user %}
<script>
    alert("Invalid user...");
    window.location = "{% url 'login' %}";
</script>
{% endif %}

{% if staff %}
<script>
    alert("login succesfully...");
    window.location = "{% url 'admin_home' %}";
</script>
{% endif %}
<div class="login-signup">
    <div class="container">
        <div class="tab">
            <button class="tablinks active" onclick="openForm(event, 'Login')">Login</button>
            <button class="tablinks" onclick="openForm(event, 'Register')">Register</button>
        </div>

        <div id="Login" class="tabcontent active">
            <form method="POST" action="{% url 'login_user' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" placeholder=" " name="username" required>
                    <label>Username</label>
                </div>
                <div class="form-group">
                    <input type="password" placeholder=" " name="password" required>
                    <label>Password</label>
                </div>
                <button type="submit">Login</button>
            </form>
        </div>

        <div id="Register" class="tabcontent">
            <form action="{%url 'register_user' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" placeholder=" " name="firstName" required>
                    <label>First Name</label>
                </div>
                <div class="form-group">
                    <input type="text" placeholder=" " name="lastName" required>
                    <label>Last Name</label>
                </div>
                <div class="form-group">
                    <input type="text" placeholder=" " name="userName" required>
                    <label>Username</label>
                </div>
                <div class="form-group">
                    <input type="email" placeholder=" " name="email" required>
                    <label>Email</label>
                </div>
                <div class="form-group">
                    <input type="text" placeholder=" " name="mobile" required>
                    <label>Mobile no</label>
                </div>
                <div class="form-group">
                    <input type="date" placeholder=" " name="dob" required>
                    <label>DOB</label>
                </div>
                <div class="form-group">
                    <select name="gender" id="gender" required>
                        <option value="" selected disabled>Choose Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="password" placeholder=" " name="password" required>
                    <label>Password</label>
                </div>
                <button type="submit">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{%block javascript%}
<script src="{%static 'js/login-register.js' %}"></script>
{%endblock%}