{% extends 'admin_nav.html' %}
{% load static %}
{% block design %}
<link rel="stylesheet" href="{% static 'css/add_train.css' %}">
<style>
    .file-input-container {
        position: relative;
        margin-bottom: 10px;
    }

    .file-input-label {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        width: 10%;
        text-align: center;
    }

    .file-input-label:hover {
        background-color: #0056b3;
    }

    .file-name {
        margin-left: 10px;
        font-style: italic;
        color: #666;
    }
</style>
{%endblock%}


{% block content %}
<h1>Update Train</h1>

{% if valid %}
<script>
    alert("train updated successfully")
    window.location = `{% url 'view_train' %}`
</script>
{% endif %}

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset>
        <legend>Train Details</legend>
        <div class="form-group">
            <label for="trainname">Train Name:</label>
            <input type="text" id="trainname" name="trainname" value="{{train.trainname}}" required>
        </div>
        <div class="form-group">
            <label for="from_city">From City:</label>
            <select id="from_city" name="from_city" required>
                {% for station in stations %}
                {% if station.station_name == train.from_station.station_name %}
                <option value="{{ station.station_name }}" selected>{{ station.station_city }}</option>
                {% else %}
                <option value="{{ station.station_name }}">{{ station.station_city }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="to_city">To City:</label>
            <select id="to_city" name="to_city" required>
                {% for station in stations %}
                {% if station.station_name == train.to_station.station_name %}
                <option value="{{ station.station_name }}" selected>{{ station.station_city }}</option>
                {% else %}
                <option value="{{ station.station_name }}">{{ station.station_city }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="arrivaltime">Arrival Time:</label>
            <input type="time" id="arrivaltime" name="arrivaltime" value="{{ train.arrivaltime|default_if_none:'' }}"
                required>
        </div>
        <div class="form-group">
            <label for="departuretime">Departure Time:</label>
            <input type="time" id="departuretime" name="departuretime" value="{{ train.departuretime|default_if_none:'' }}" required>
        </div>
        <div class="form-group">
            <label for="traveltime">Travel Time (hours):</label>
            <input type="number" id="traveltime" name="traveltime" min="0" value="{{train.traveltime}}" required>
        </div>
        <div class="form-group">
            <label for="distance">Distance (km):</label>
            <input type="number" id="distance" name="distance" min="0" value="{{train.distance}}" required>
        </div>
        <div class="form-group">
            <label for="fare">Fare :</label>
            <input type="number" id="fare" name="fare" min="0" value="{{train.fare}}" required>
        </div>
        <!-- <div class="form-group">
            <label for="img">Train Image:</label>
            <input type="file" id="img" name="img" accept="image/*" required>
        </div> -->
        <label for="profilePhoto">Train image:</label>
        <br>
        <div class="file-input-container">
            <input type="file" id="profilePhoto" name="train_photo" accept="image/*" hidden>
            <label for="profilePhoto" class="file-input-label">Choose file</label>
            <span id="fileName" class="file-name">No file chosen</span>
        </div>
        <div class="form-group">
            <button type="submit">update Train</button>
        </div>
    </fieldset>
</form>
{%endblock%}

{% block javascript %}
<script src="{% static 'js/user_profile.js' %}"></script>
{% endblock %}