{% extends 'user_nav.html' %}
{% load static %}
{% block design %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock %}

{% block content %}

<div class="profile-container">
    <div class="read-only-container" id="readOnlyContainer">
        <h2 style="text-align: center;">User Information</h2>


        <div class="image-container">

            {% if request.user.userprofile.profile_photo %}
            <img src="{{ request.user.userprofile.profile_photo.url }}" alt="Profile Photo" class="profile-photo">
            {% else %}
            <img src="https://static.vecteezy.com/system/resources/thumbnails/009/734/564/small_2x/default-avatar-profile-icon-of-social-media-user-vector.jpg"
                alt="User Profile Picture" class="profile-photo">
            {% endif %}
        </div>
        <ul class="u-list">
            <!-- <li><span>Name:</span>{{user.first_name}} {{user.last_name}}</li> -->
            <li class="list"><span>First Name : </span>{{user.first_name}}</li>
            <li class="list"><span>Last Name :</span> {{user.last_name}} </li>
            <li class="list"><span>Email:</span> {{user.email}}</li>
            <li class="list"><span>Username:</span> {{user.username}}</li>
            <li class="list"><span>Gender:</span> {{user_info.gender}}</li>
            <li class="list"><span>DoB:</span> {{user_info.dob}} </li>
            <li class="list"><span>Mobile No:</span> {{user_info.mobile}} </li>
        </ul>
        <br>
        <!-- <a class="edit-button" href="#">Edit</a>
         -->
        <a href="{% url 'edit_profile' %}" class="edit-button" style="text-decoration:none;">Edit</a>
    </div>

    {% endblock %}