{% extends 'admin_nav.html' %}

{% load static %}
{% block design %}
<link rel="stylesheet" href="{% static 'css/view_station.css' %}">
<style>
    input[type=text][type=password] {
        border-radius: 8px;
        width: 600px;
        height: 16px;
    }
</style>
{% endblock %}

{% block content %}
<div style="color:Black;border:1px solid white;border-radius:8px;background-color:white;padding:50px">

    <hr>
    <h3><strong>All Added Train</strong></h3>
    <hr>

    <div class="container">
        <table class="noteCard table table-bordered" id="myTable">
            <thead style="color:white;background-color:#333">
                <tr>
                    <th>Sr No</th>
                    <th>Photo</th>
                    <th>Train Name</th>
                    <!-- <th>Train No.</th> -->
                    <th>From</th>
                    <th>To</th>
                    <th>Arrival Time</th>
                    <th>Departure Time</th>
                    <th>Travel Time</th>
                    <th>Distance</th>
                    <!-- <th>Img</th> -->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                {% for i in data %}

                <tr>

                    <td>{{forloop.counter}}</td>
                    <td>
                        <img style="width:100px;" src="/media/{{i.train_image}}" alt="train {{i.train_image}}">
                    </td>
                    <td>{{i.trainname}}</td>
                    <!-- <td>{{i.train_no}}</td> -->
                    <td>{{i.from_station.station_name}}</td>
                    <td>{{i.to_station.station_name}}</td>
                    <td>{{i.arrivaltime}}</td>
                    <td>{{i.departuretime}}</td>
                    <td>{{i.traveltime}}</td>
                    <td>{{i.distance}}</td>
                    <!-- <td><img src="{{i.img.url}}" style="width:150px;height:100px"></td> -->
                    <td style="width:100px"><a id="update" href="{% url 'update_train' i.trainname %}"
                            style="color:rgb(5, 139, 45)"><u>Edit</u></a> . .
                        <a id="remove" href="{% url 'remove_train' i.trainname %}" style="color:red"><u>Delete</u></a>
                    </td>

                </tr>

                {% endfor %}
            </tbody>
        </table>`

    </div>
</div>

{% endblock %}

{% block javascript %}

<script>
    let remove = document.getElementById("remove");
    if (remove != null) {
        remove.addEventListener("click", function (event) {
            // Prevent the default behavior of the anchor tag
            event.preventDefault();

            // Get the URL from the href attribute
            var url = this.getAttribute("href");

            // Confirm removelation with the user
            var confirmremovelation = confirm("Are you sure you want to remove this Train?");

            // If the user confirms the removelation, redirect to the removelation URL
            if (confirmremovelation) {
                window.location.href = url;
            }
        });
    }
</script>

{% endblock %}